{% extends "layout.html" %}
{% set active = 'help' -%}
{% block title %}About{% endblock %}
{% block content %}
  <div class="page-header">
    <h1>Flask Todo Demo <small>a Python port of the LeanEngine demo <a href="https://todo-demo.leanapp.cn/todos">LeanTodo</a>.</small></h1>
  </div>
  <div class="row">
    <div class="col-md-9">
      <article>
      Please refer to the README.md file at GitHub repository <a href="https://github.com/leancloud/flask-todo-demo">github.com/leancloud/flask-todo-demo</a>
      </article>
    </div>
  </div>
{% endblock %}